* {box-sizing: border-box;}
:root{
    --barva:rgb(202, 222, 241);
}
body {background: silver;font-size: 1vw;}
header, main, nav,footer {margin:auto; width:70vw; min-width: 600px; }
nav {background:black;height:50px;display:flex;align-items: center; }
nav a {display: block;color:white; width:200px;text-align: center;height:100%;align-content: center; }
nav a:hover{background:var(--barva);}
header{height:200px;}
footer {background:var(--barva);height:50px;}
:root { font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif; background:white;}
.container { margin: auto; padding: 1rem;background: white; }
h1, h2, h3 { margin: .2rem 0 .6rem; }
.grid { display: grid; grid-template-columns: 1fr; }
table.data {width:90%; border-collapse: collapse;border-radius:4px}
table.data tr:nth-child(even){background-color:var(--barva);}
table.data td {padding:8px; border:1px solid black}
table.data th {padding:8px; background:black;color:white;border:1px solid black}


form input,form select, form button,form textarea { width: 100%; max-width: 400px;padding:5px;margin-left:3px }
form button{margin-left:8px}
form {background: var(--barva);width:55%;padding:10;padding-top:20px;padding-bottom:20px;margin:auto;
      border-radius:4px}
form div {padding:4px;width:100% }
table form {padding:0;padding-top:0;background:none}
label{width:150px;text-align:right;display:inline-block;}
button { margin-top: .5rem; padding: .4rem .8rem; cursor: pointer; }



@media (max-width: 800px) { .grid { grid-template-columns: 1fr; } }