<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{{title}}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <header class="container">
    <h1>{% block header %}{{title}}{% endblock %}</h1>
    {% if user %}
    {{user.full_name}}
    {% endif %}
  </header>
  <nav>
    {% block nav %}<a href="/login">Přihlášení</a>{% endblock %}
  </nav>
  <main class="container">
    {% block content %}{% endblock %}
  </main>
  <footer></footer>
</body>
</html>